<mat-card
  class="flex flex-col justify-center items-center md:text-base md:p-12"
>
  <mat-card-title class="flex items-center" i18n="@@freezer-practice"
    >freezer-practice</mat-card-title
  >
  <mat-card-content>
    <p
      class="italic text-center"
      i18n="@@freezer-practice:freezer-practice-description"
    >
      A <em class="font-bold">website</em> for mobile only that displays freezer
      and aliments
    </p>

    <app-github-project-link [url]="projects['freezer-practice'].githubUrl">
    </app-github-project-link>

    <p class="" i18n="@@freezer-practice:cold-start">
      The real site has a
      <strong>cold start</strong> because it is hosted on a free plan on heroku.
      It sleeps when there is no web traffic in a 30-minute period.
    </p>
    <!-- <iframe
      src="http://localhost:8080/freezers"
      frameborder="0"
      class="mx-auto"
      style="height: 80vh"
    ></iframe> -->
    <div class="flex flex-wrap justify-around" style="height: max-content">
      <div class="relative w-10/12 mb-12 sm:mb-0 sm:w-5/12">
        <div
          class="
            top-0
            text-center
            w-full
            absolute
            bg-white bg-opacity-50
            text-black text-lg
          "
          i18n="@@freezer-practice:demonstration-giff"
        >
          Demonstration giff
        </div>
        <img src="/assets/freezer-practice.gif" class="w-full" />
      </div>
      <div class="relative w-10/12 sm:w-5/12 flex h-70v sm:h-auto">
        <div
          class="
            top-0
            text-center
            w-full
            absolute
            bg-white bg-opacity-50
            text-black text-lg
          "
          i18n="@@freezer-practice:real-site-label"
        >
          Real site in production
        </div>
        <iframe
          src="http://localhost:4200/freezers"
          frameborder="0"
          class="w-full h-full flex"
          style=""
        ></iframe>
      </div>
    </div>
  </mat-card-content>

  <mat-divider inset></mat-divider>
  <mat-card-title class="mt-4 flex items-center" i18n="@@features"
    >Features</mat-card-title
  >
  <ul class="w-full pl-4 md:pl-0">
    <li class="list-disc" i18n="@@freezer-practice:description-auth">
      <strong>Secure authentication</strong> where passwords are saved hashed.
    </li>
    <li class="list-disc" i18n="@@freezer-practice:description-email">
      Email verification and password reset through
      <strong>email messages</strong>
    </li>
    <li class="list-disc" i18n="@@freezer-practice:description-content">
      Collection of <strong>freezers</strong> which each contain their own
      collections of <strong>aliments</strong>.
    </li>
    <li class="list-disc" i18n="@@freezer-practice:description-crud">
      Create, remove, edit any elements.
    </li>
    <li class="list-disc" i18n="@@freezer-practice:description-icons">
      Integration of custom svg <strong>icons</strong>.
    </li>
  </ul>

  <mat-divider inset></mat-divider>
  <mat-card-title class="mt-4 flex items-center" i18n="@@technology"
    >Technology</mat-card-title
  >
  <div class="w-full">
    <p class="underline" i18n="@@title-front-end">The plugin's front-end:</p>
    <ul class="pl-8">
      <li class="" *ngFor="let line of frontEndLines">
        <app-tech-icon
          [name]="line.iconName"
          class="-ml-5 inline-block align-bottom relative bottom-1"
        ></app-tech-icon>
        {{ line.text }}
        <span class="italic text-gray-200 ml-2">{{ line.secondaryText }}</span>
      </li>
    </ul>
    <p class="mt-4 underline" i18n="@@title-back-end">The server back-end:</p>
    <ul class="pl-8">
      <li class="" *ngFor="let line of backEndLines">
        <app-tech-icon
          [name]="line.iconName"
          class="-ml-5 inline-block align-bottom relative bottom-1"
        ></app-tech-icon>
        {{ line.text }}
        <span class="italic text-gray-200 ml-2">{{ line.secondaryText }}</span>
      </li>
    </ul>
  </div>
  <mat-divider inset class="mt-2"></mat-divider>
</mat-card>
