<!-- mobile -->
<div *ngIf="isUnderTailwindSmall.matches" class="h-full flex flex-col">
  <mat-toolbar class="">
    <button
      mat-icon-button
      class=""
      aria-label="button with menu icon"
      i18n-aria-label="@@menu-button-arial-label"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/about" routerLinkActive="active" class="">
      Guillaume Bonnet
    </a>
    <app-language-picker
      class="ml-auto"
      [isFr]="isFr"
      [url]="url"
    ></app-language-picker>
  </mat-toolbar>
  <mat-drawer-container class="flex-grow" hasBackdrop>
    <mat-drawer #drawer mode="over">
      <mat-nav-list>
        <a
          mat-list-item
          *ngFor="let navItem of navData"
          [routerLink]="navItem.url"
          routerLinkActive="active"
        >
          {{ navItem.text }}
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="w-11/12 m-auto py-4 font-mono text-base">
      <router-outlet class="h-full"></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
<!-- desktop menu -->
<div *ngIf="!isUnderTailwindSmall.matches" class="h-full flex flex-col">
  <mat-toolbar class="h-auto p-4">
    <a routerLink="/about" routerLinkActive="active" class="pl-4">
      Guillaume Bonnet
    </a>
    <div class="flex justify-between w-full">
      <nav class="">
        <ul class="flex flex-wrap">
          <li class="mx-2" *ngFor="let navItem of navData">
            <a [routerLink]="navItem.url" routerLinkActive="active">
              <button
                *ngIf="
                  url == navItem.url || (url == '/' && navItem.url == '/about');
                  else buttonStandard
                "
                class=""
                type="button"
                [attr.mat-button]="url != navItem.url"
                mat-raised-button
                color="primary"
              >
                {{ navItem.text }}
              </button>
              <ng-template #buttonStandard>
                <button class="" type="button" mat-button color="primary">
                  {{ navItem.text }}
                </button>
              </ng-template>
            </a>
          </li>
        </ul>
      </nav>
      <app-language-picker [isFr]="isFr" [url]="url"></app-language-picker>
    </div>
  </mat-toolbar>
  <div class="w-full bg-gray-400 flex-grow overflow-y-auto">
    <div class="w-10/12 lg:w-8/12 xl:w-6/12 m-auto py-12 font-mono text-lg">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
