<mat-toolbar>
  <div class="flex justify-between w-full">
    <div class="flex">
      <button class="" type="button" mat-raised-button color="primary">
        About
      </button>
      <div class="mx-2"></div>
      <button class="" type="button" mat-stroked-button color="primary">
        Port Folio
      </button>
      <div class="mx-2"></div>
      <button class="" type="button" mat-raised-button color="accent">
        LinkedIn
      </button>
      <div class="mx-2"></div>
      <button class="" type="button" mat-raised-button color="primary">
        Github
      </button>
    </div>
    <div>FR/EN</div>
  </div>
</mat-toolbar>
<div class="background">
  <router-outlet></router-outlet>
</div>
