<mat-card class="flex flex-col justify-center items-center">
  <mat-card-title class="flex items-center text-3xl my-6">
    Meta Movie
    <img
      class="ml-4 w-10 h-10"
      src="assets/MetaMovie-128x128.png"
      alt="Meta Movie logo"
      i18n-alt="@@meta-movie-logo"
    />
  </mat-card-title>
  <div class="sm:px-8">
    <p class="italic text-center" i18n="@@meta-movie:description">
      A browser <strong class="font-">plugin for Chrome</strong> that gives you
      <strong class="font-extrabold">facts</strong> on the form of text bubbles
      in
      <strong class="font-extrabold">Netflix</strong>
      videos
    </p>

    <app-github-project-link [url]="projects['meta-movie'].githubUrl">
    </app-github-project-link>
    <app-github-project-link i18n-text="@@github-repository-backend"
      url="https://github.com/GuillaumeBonnet/MetaMovie-Backend"
      text="Github repository (back-end)"
    >
    </app-github-project-link>
    <div class="mt-4 mx-auto w-10/12 rounded">
      <app-fullscreen-container>
        <img
          class=""
          src="assets/meta-movie-showcase.gif"
          alt="Meta Movie logo"
          i18n-alt="@@meta-movie-logo"
        />
      </app-fullscreen-container>
    </div>
  </div>
  <mat-divider inset class="mt-6"></mat-divider>
  <mat-card-title
    class="mt-4 flex items-center text-center"
    i18n="@@title_published-chrome-store"
  >
    Published on Chrome store
  </mat-card-title>
  <div class="my-4">
    <a
      class="link"
      href="
        https://chrome.google.com/webstore/detail/meta-movie/giaclandajbapmfkkoammmmkhaedeiip
      "
      target="_blank"
      i18n="@@try-it"
      >Try it</a
    >
  </div>
  <mat-divider inset></mat-divider>
  <mat-card-title class="mt-4 flex items-center" i18n="@@features"
    >Features</mat-card-title
  >
  <ul class="sm:px-8 pl-4 sm:pl-10">
    <li class="list-disc" i18n="@@meta-movie:select-deck">
      On a movie/episode page you can select one of the available decks of fact
      cards.
    </li>
    <li class="list-disc mt-2" i18n="@@meta-movie:create-deck">
      To create a deck you need to log in. The passwords are hashed in database
      and the communications are done over Secure Https.
    </li>
  </ul>
  <mat-divider inset class="mb-6 mt-4"></mat-divider>
  <mat-card-title class="flex items-center" i18n="@@technology"
    >Technology</mat-card-title
  >
  <div class="w-full sm:px-8">
    <p class="underline" i18n="@@title-front-end">The plugin's front-end:</p>
    <ul class="pl-8">
      <li class="" *ngFor="let line of frontEndLines">
        <app-tech-icon
          [name]="line.iconName"
          class="-ml-5 inline-block align-bottom relative bottom-1"
        ></app-tech-icon>
        {{ line.text }}
        <span class="italic text-gray-200 ml-2">{{ line.secondaryText }}</span>
      </li>
    </ul>
    <p class="mt-4 underline" i18n="@@title-back-end">The server back-end:</p>
    <ul class="pl-8">
      <li class="" *ngFor="let line of backEndLines">
        <app-tech-icon
          [name]="line.iconName"
          class="-ml-5 inline-block align-bottom relative bottom-1"
        ></app-tech-icon>
        {{ line.text }}
        <span class="italic text-gray-200 ml-2">{{ line.secondaryText }}</span>
      </li>
    </ul>
  </div>
  <mat-divider inset class="mt-2"></mat-divider>
</mat-card>
