<mat-card class="flex flex-col justify-center items-center">
  <mat-card-title class="flex items-center">
    Github <fa-icon class="ml-4 text-xl" [icon]="faGithub"></fa-icon>
  </mat-card-title>
  <mat-card-content>
    <a href="https://github.com/GuillaumeBonnet" target="_blank"
      >View my profile</a
    >
  </mat-card-content>
  <mat-divider inset></mat-divider>
</mat-card>
<mat-card class="mt-4 flex flex-col justify-center items-center">
  <mat-card-title class="flex items-center"> Main projects </mat-card-title>
  <mat-card-content> </mat-card-content>
  <mat-divider inset></mat-divider>
</mat-card>
