<a
  href="https://github.com/GuillaumeBonnet"
  target="_blank"
  class="text-base sm:text-xl"
>
  <mat-card class="flex flex-col justify-center items-center">
    <mat-card-title class="flex items-center text-3xl">
      Github <fa-icon class="ml-4" [icon]="faGithub"></fa-icon>
    </mat-card-title>
    <div>
      <div class="link" i18n="@@view-my-profile">View my profile</div>
    </div>
    <mat-divider inset></mat-divider>
  </mat-card>
</a>

<mat-card class="mt-4 flex flex-col justify-center items-center">
  <mat-card-title class="flex items-center" i18n="@@main-projects">
    Main projects
  </mat-card-title>
  <div class="w-full flex flex-wrap">
    <div *ngFor="let project of projects" class="w-12/12 sm:w-6/12 pt-2 sm:p-2">
      <div
        class="
          bg-gray-600
          rounded
          p-2
          border border-black
          group
          text-center
          h-full
          flex flex-col
        "
      >
        <a
          class=""
          [routerLink]="project.urlFragment"
          routerLinkActive="active"
        >
          {{ project.title }}
        </a>
        <div class="flex justify-center my-2">
          <app-tech-icon
            *ngFor="let iconName of project.techIcons"
            [name]="iconName"
            class="m-1"
          ></app-tech-icon>
        </div>
        <div class="italic flex-grow text-base sm:text-lg">
          {{ project.description }}
        </div>
        <a [routerLink]="project.urlFragment" routerLinkActive="active">
          <button
            class="mt-4 bg-gray-800 p-2 cursor-pointer text-sm sm:text-lg"
            i18n="@@read-more-project"
          >
            click to see a demo, the functionnal, and technical breakdown
            <div>
              <mat-icon>read_more</mat-icon>
            </div>
          </button>
        </a>
      </div>
    </div>
  </div>
  <mat-divider inset></mat-divider>
</mat-card>
