<mat-card class="flex flex-col justify-center items-center">
  <mat-card-title class="flex items-center"> LinkedIn </mat-card-title>
  <mat-card-content>
    <p
      class="
        https://linkedin.com/in/guillaume-bonnet-00264b95?trk=people-guest_people_search-card
      "
      i18n
    >
      You can reach out and check out my LinkedIn page:
    </p>
    <div class="flex justify-center">
      <a
        href="https://www.linkedin.com/in/guillaume-bonnet-00264b95/"
        target="_blank"
        class="underline hover:font-medium"
        i18n
      >
        LinkedIn Link
      </a>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
</mat-card>
